{% extends "admin/base.html" %}
{% load i18n %}

{% block title %} DISC Values {% endblock %}

{% block extrahead %}{{auto|safe}}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans "DISC Server" %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block content %}
	{% now "Y-m-d_H-i-s" %}
	<BR>Stats&nbsp&nbsp
	<a href="/{{proxy_path}}/env/stats/1">1 hr</a>&nbsp&nbsp
	<a href="/{{proxy_path}}/env/stats/12">12 hr</a>&nbsp&nbsp
	<a href="/{{proxy_path}}/env/stats/24">24 hr</a>
	<BR><BR>
    {% if listRend %}
        <table>
        {% for t in listTypes %}
            <tr><th></th><th></th><th align=left>{{ t }}</th></tr>
            {% for v,Name,Type,id in listRend %}
                {% if t == Type %}
                <tr><td>{{ v }}</td><td></td><td>{{ Name }}</td>
					<td><a href="/{{proxy_path}}/env/id_plot/{{ id }}/minutes/60">1hr plot</a></td>
					<td><a href="/{{proxy_path}}/env/id_plot/{{ id }}/minutes/1440">24hr plot</a></td>
					<td><a href="/{{proxy_path}}/env/id_plot/{{ id }}/hours/168">7day plot</a></td>
				</tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}
