<table border = "1">
{% if TableIndex %}
    <tr>
    {% for s in TableIndex %}
	    <td>{{ s }}</td>
    {% endfor %}
    </tr>
{% endif %}
</table>

<table border = "1">
    <tr>
	    <td>Controller.Name</td>
	    <td>Thermostat.Name</td>
	    <td>Thermostat.CommPort</td>
	    <td>Thermostat.Baudrate</td>
	    <td>SensorID</td>
	    <td>Type</td>
	    <td>Name</td>
	    <td>Active</td>
	    <td>Command</td>
	    <td>DataID</td>
	    <td>ResponseTermination</td>
	    <td>Slice</td>
	    <td>RegularExpression</td>
	    <td>ScaleFactors</td>
		<td>Timebase</td>
		<td>Period</td>
    </tr>
{% if qsThermostat %}
    {% for s in qsThermostat %}
        <tr>
		    <td>{{ s.Thermostat.Controller.Name }}</td>
        	<td>{{ s.Thermostat.Name }}</td>
        	<td>{{ s.Thermostat.CommPort }}</td>
        	<td>{{ s.Thermostat.Baudrate }}</td>
        	<td>{{ s.id }}</td>
        	<td>{{ s.DataID.Type }}</td>
	        <td>{{ s.DataID.Name }}</td>
	        <td>{{ s.DataID.Active }}</td>
	        <td>{{ s.Command }}</td>
	        <td>{{ s.DataID.ID }}</td>
	        <td>{{ s.ResponseTermination }}</td>
	        <td>{{ s.Slice }}</td>
    	    <td>{{ s.RegularExpression }}</td>
	        <td>{{ s.ScaleFactors }}</td>
			<td>{{ s.DataID.Timebase }}</td>
			<td>{{ s.DataID.Period }}</td>
        </tr>
    {% endfor %}
{% endif %}
</table>
